@media screen and (min-width: 1200px) {
/*____________________________________ Body ____________________________________*/

/*___________________________________ Header ___________________________________*/

  header {margin: 53px 53px 0 53px;}

  .header {width: 100%; height: 34px;}

  .logo {width: 102px; height: auto;}

/*-------------------------- Barre de navigation --------------------------*/

  nav {margin-top: 2px;}

  .menu {padding: 0 0.5%;}

  .menu li {margin-right: 3%;}

  .menu li a {padding: 68px 28px 0 28px;}

  /*--------------------------- Zone de recherche --------------------------*/

  .recherche {margin-top: 52px;}

  .subtitle {margin-top: -13px;}

  .geoloc, .zone-recherche, .search, .listefiltres, .filtre {height: 50px;}

    /*----------------------- Barre de recherche -----------------------*/

  .barre-recherche {margin-top: 30px;}

  /*  Bouton géolocalisation */
  .geoloc {
    width: 50px;
    border-radius: 15px 0 0 15px;
    margin-right: -2px;
  }

  /* Zone de saisie */
  .zone-recherche {width: 220px; margin-bottom: 10px; padding-left: 15px;}

  /* Bouton "Rechercher" */
  .search {width: 125px; border-radius: 0 15px 15px 0;}

    /*---------------------- Filtres de recherche ----------------------*/

  .listefiltres {width: 100%; margin: 31px 0 0 13px;}

  .listefiltres h3 {margin-top: 12px;}

  .btnfiltres {margin-left: 32px;}

  .iconefiltre {
    margin-right: -40px;
    width: 50px;
    height: 50px;
    font-size: 10px;
  }

  .fa-money-bill-wave {padding: 15px 12px;}

  .fa-child {padding: 16px 16px;}

  .fa-heart {padding: 16px 14px;}

  .fa-dog {padding: 15px 13px;}

  .filtre {margin-right: 24px; font-size: 0.8em;}

    /*------------ Ligne informative : nombre hébergements dispo -----------*/

  .point-info {margin: 35px 0 15px 13px;}

  .icone-info {width: 24px; height: 24px;}

  .fa-info {margin: 5px 0 0 9px;}

/*____________________________________ Main ____________________________________*/

  main {margin: 0 53px;}

  h2 {font-size: 1.3em;}

  /*------------------- Grand conteneur des héébergements -------------------*/

  #hebergements {max-height: 780px; margin-bottom: 37px;}

  .hebliste, .populiste {height: 690px; margin-top: 37px;}

  .note {margin: 0 0 1% 5%;}

    /*--------------------- Liste des hébergements ---------------------*/

  .hebliste h2 {margin: 47px 5% 10px 5%;}

  .hconteneur-flexible {height: 530px; padding: 0 2.8%;}

  .hélément-flexible {width: 28.5%; max-height: 240px; margin: 1.9% 2%;}

  .hfigure {width: 95%; margin: 2.5% 2% 2.5% 2.5%;}

  .imghebergement {height: 130px;}

  .hfigcaption h4, .hfigcaption p, #more {margin-left: 5%;}

  .hfigcaption h4 {margin: 3% 0;}

  .hfigcaption p {margin: 0 5% 2% 0;}

  #more {margin-top: 10px; font-size: 1.1em;}

     /*--------------------- Héébergements populaires --------------------*/

  .en-tete-populaire {margin: 30px 10% -2px 10%;}

  .fa-chart-line {margin-top: 23px; justify-content: flex-end;}

  .pconteneur-flexible {margin: -1px 0 5px 0; padding: 0 2.8%;}

  .pélément-flexible {
    max-height: 165px;
    margin: 9px  20px  20px  20px;
    padding: 0.5% 8% 0.5% 0.5%;
  }

  .pfigure {min-height: 150px; max-height: 165px; margin: 1.5%;}

  .pfigcaption {max-width: 170px; max-height: 130px; margin: 10px 0 0 15px;}

  .pfigcaption h4, .pfigcaption p {margin-bottom: 10px;}

  .pfigcaption h4 {margin-top: 1%;}

  .pfigcaption p {margin-top: 2%;}

  .notehebpopulaire {margin-left: -0.5%;}

  /*------------------------------- Activités ------------------------------*/

  #activites {
    min-width: 85%;
    max-width: 100%;
    height: 500px;
    margin-top: 790px;
  }

  .aconteneur {
    /* créé une grille répétitive de 4 colonne faisant 22% de large */
    grid-template-columns: repeat(4, 22%);
  }

  .box1, .box4 {height: 445px}

  .box2 {height: 236px;}

  .box3 {height: 165px; margin-top: -165px;}

  .box5, .box6 {height: 209px;}

  .box6 {margin-top: -210px;}

  .afigure {margin: -0.5px 40px 0 -0.3px;}

  .imgactivites {
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

  .img-xl, .img-l, .img-m, .img-s {width: 100%;}

  .img-xl {height: 390px;}

  .img-l {height: 180px;}

  .img-m {height: 153px;}

  .img-s {height: 109px;}

  .afigcaption h4 {margin: 15px 0 0 15px;}


/*___________________________________ Footer ___________________________________*/

  footer {
    margin-top: 61px;
    height: 217px;
    justify-content: space-around;
    /* Pour que le footer remplisse toute la largeur de la page */
    position: absolute;
    left: 0;
    right: 0;
  }

  footer section {width: 100%; margin-top: 20px; display: inline-flex;}

  .partiesfooter {width: 38%; margin-left: 70px;}

  .liensfooter {margin: 25px 0 0 -30px;}

  .liensfooter li {margin-left: -10px; margin-top: 19px;}
}
