@media screen and (min-device-width: 769px) and (max-device-width: 991px) {
/*____________________________________ Body ____________________________________*/

  body {font-size: 1em;}

  .listefiltres, .hebliste, .populiste, .populiste h2, .pfigcaption {
    width: 100%;
  }

  .logo, .listefiltres,
  #hebergements, .hebliste, .hélément-flexible, .populiste {
    height: auto;
  }

  nav, .btnfiltres,
  #hebergements, .pélément-flexible, .aconteneur {
    display: flex;
  }

  .menu, footer section  {display: inline-flex;}

  .menu, .fa-chart-line {justify-content: flex-end;}

  .btnfiltres, .hfigure, .pfigure, .hconteneur-flexible,
  .imghebpopulaire, .aconteneur  {
    height: 100%;
  }

  .btnfiltres, #hebergements, .aconteneur {flex-wrap: wrap;}

  .filtre, #more {font-size: 1.1em;}

  .grilleheb, .activitesliste, footer, footer section {
    margin-top: 20px;
  }

/*___________________________________ Header ___________________________________*/

  header {margin: 40px 40px 0 40px;}

  .header {height: 34px;}

  .logo {width: 6.5em;}

  /*-------------------------- Barre de navigation --------------------------*/

  nav {margin-top: 6px; float: right;}

  .menu {padding: 0 0.8%;}

  .menu li a, .connection li a  {padding: 57px 28px 0 28px;}

  .menu li a:hover, .lien-signup:hover,
  .menu li a:focus, .lien-signup:focus {
    border-top: 2px solid #0065fc;
  }

    /*--------------------------- Zone de recherche --------------------------*/

  .recherche {height: 400px; margin-top: 55px; font-size: 0.85em;}

  .subtitle {margin-top: -13px; font-size: 1.3em;}

  .geoloc, .searchmobile, .iconefiltre {width: 60px;}

  .geoloc, .zone-recherche, .search, .searchmobile,
  .div-filtre, .filtre, .iconefiltre {
    height: 60px;
  }

  .geoloc, .zone-recherche, .searchmobile, .point-info {font-size: 1.2em;}

       /*----------------------- Barre de recherche -----------------------*/

  .barre-recherche {margin-top: 15px;}

  /*  Bouton géolocalisation */
  .geoloc {
    border-radius: 15px 0 0 15px;
    margin-right: -3px;
  }

  /* Zone de saisie */
  .zone-recherche {
    width: 340px;
    margin-bottom: 10px;
    padding-left: 15px;
  }

  /* Bouton "Rechercher" */
  .search {display: none;}

  .searchmobile {margin-left: -18px; border-radius: 15px;}

       /*---------------------- Filtres de recherche ----------------------*/

  .listefiltres {margin-top: 30px;}

  .listefiltres h3 {margin-top: 12px;}

  .btnfiltres {margin: 50px 0 0 -25px;}

  .div-filtre {
    margin-bottom: 20px;
  }

  .iconefiltre {
    margin: 0 -60px -50px 0;
    font-size: 0.8em;
  }

  .fa-money-bill-wave {padding: 20px 16px;}

  .filtre-eco {width: 200px;}

  .fa-child {padding: 21px 21px;}

  .filtre-familial {width: 165px;}

  .fa-heart {padding: 21px 19px;}

  .filtre-romantique {width: 197px;}

  .fa-dog {padding: 19px 18px;}

  .filtre-animaux {width: 251px;}

     /*----------------------- Ligne informative ------------------------*/

  .point-info {margin: 15px 0 0 22px;}

  .icone-info {width: 24px; height: 24px; border: 2px #f2f2f2 solid;}

  .fa-info {padding: 6px 0 0 10px;}

  .point-info p {padding: 5px 0 5px 45px;}

/*____________________________________ Main ____________________________________*/

  h2 {font-size: 1.4em;}

  .hfigure, .pfigure, .afigure {margin: 0;}

  .hélément-flexible, .aelement {width: 30%;}

  .hélément-flexible, .pélément-flexible, .aelement {margin-bottom: 4%;}

  .hfigure, .afigure {padding-bottom: 1%;}


    /*------------------- Grand conteneur des héébergements -------------------*/

  #hebergements {margin-bottom: 37px;}

  .note {margin-bottom: 2%;}

       /*--------------------- Liste des hébergements ---------------------*/
  .hebliste {order: 2; background-color: #fff;}

  .hebliste h2 {margin: 0 5% 10px 5%; padding-top: 47px;}

  .grilleheb {height: 75%; padding: 0 4%;}

  .hfigure {width: 95%; margin: 2.5% 2% 1% 2.5%;}

  .imghebergement {height: 100px;}

  .hfigcaption, #more {margin-left: 5%;}

  .hfigcaption {margin-bottom: 3%;}

  .hfigcaption h4 {margin: 2% 0;}

  .hfigcaption p {margin: 0 2% 2% 0;}

  #more {margin: 0.5% 0 3% 0;}

       /*--------------------- Héébergements populaires --------------------*/

  .populiste {order: 1; margin-top: 37px;}

  .en-tete-populaire {width: 90%; padding: 40px 5% 10px 5%;}

  .fa-chart-line {margin-top: 24px;}

  .grillepopulaire {margin-top: 2px; padding: 0 5%;}

  .pconteneur-flexible {margin-bottom: 5px;}

  .pélément-flexible {padding: 1%; width: 45%; height: 150px;}

  .imghebpopulaire {max-width: 40%;}

  .pfigcaption {
    max-height: 135px;
    margin: 0 20px 3% 20px;
    /* mise en flux normal pour travailler .notehebpopulaire tout en bas de ces figcaption */
    position: relative;
  }

  .pfigcaption h4 {margin-bottom: 9%;}

  .pfigcaption p {margin: 0 5% 2% 0;}

  .notehebpopulaire {
    position: absolute; /* retirer l'élément du flux normal */
    bottom: 0; /* positionnement de l'élément tout en bas de .pfigure */
  }

  /*------------------------------- Activités ------------------------------*/

  #activites {
    min-width: 85%;
    max-width: 100%;
    height: 450px;
    margin: 40px 5% 37px 5%;
  }

  .aconteneur {justify-content: space-between;}

  .aelement {height: 175px;}

  .imgactivites {height: 120px;}

  .afigcaption h4 {margin: 8% 4% 0 4%;}

/*___________________________________ Footer ___________________________________*/

  footer {height: 200px;}

  .partiesfooter {width: 38%; margin-left: 70px;}

  .liensfooter {margin: 25px 0 0 -30px;}

  .liensfooter li {margin-left: -10px; margin-top: 19px;}
}
