@media screen and (max-device-width: 768px) {
/*____________________________________ Body ____________________________________*/

  body {font-size: 1.8em;}

  .logo, .listefiltres,
  #hebergements, .hebliste, .populiste, .grilleheb, .hélément-flexible,
  #activites, .aelement, footer {
    height: auto;
  }

  .menu, .notehebpopulaire {
    /* Le menu remplit toute la largeur de la page */
    /* retirer notehebpopulaire du flux normal et pouvoir le placer en bas de la figcaption */
    position: absolute;
  }

  .menu li, footer section {justify-content: space-around;}

  .connection, .btnfiltres, #hebergements,
  .pélément-flexible, .pfigure, footer section {
    display: flex;
  }

  .barre-recherche, .listefiltres, .btnfiltres,
  .hebliste, .populiste, .hélément-flexible,
  .en-tete-populaire, .populiste h2, .pélément-flexible, .pfigcaption,
  .activitesliste, .aconteneur, .imgactivites,
  footer section, .partiesfooter {
    width: 100%;
  }

  .geoloc, .zone-recherche, .search, .searchmobile,
  .div-filtre, .iconefiltre, .filtre {
    height: 100px;
  }

  .geoloc, .searchmobile, .iconefiltre {width: 100px;}

  .btnfiltres, #hebergements, #activites, footer section {flex-wrap: wrap;}

  .point-info p, #more, #activites {font-size: 1.2em;}

  .hélément-flexible, .pélément-flexible, , .partiesfooter {
    margin-bottom: 7%;
  }

  .imghebergement, .pélément-flexible {height: 350px;}

  .filtre, .activitesliste, .afigcaption h4, footer {font-size: 1.1em;}

  .grilleheb, footer section {margin-top: 20px;}

/*___________________________________ Header ___________________________________*/

  header {margin: 50px 50px 0 50px;}

  .header {height: 350px;}

  .logo {width: 30%;}

  /*-------------------------- Barre de navigation --------------------------*/

  nav {font-size: 1.6em;}

  .menu {
    margin-top: 24%;
    display: inline-flex;
    left: 0;
    right: 0;
  }

  .menu li {
    width: 50%;
    padding: 0 0 3% 0;
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
  }

  .menu li:hover, .menu li:focus {border-bottom: 3px solid #0065fc;}

  .connection {float: right;}

  .lien-signup:hover, .lien-signup:focus {color: #4068b2;}

    /*--------------------------- Zone de recherche --------------------------*/

  .recherche {margin-top: 30px; height: 1200px; display: flow-root;}

  .subtitle {margin-top: -13px;}

  .filtre, .icone-info {border: 4px #f2f2f2 solid;}

  .geoloc, .zone-recherche, .search, .searchmobile {height: 130px;}

       /*----------------------- Barre de recherche -----------------------*/

  .barre-recherche {margin-top: 50px; height: 17%;}

  .geoloc, .searchmobile {width: 130px; font-size: 1em;}

  /*  Bouton géolocalisation */

  .geoloc {border-radius: 30% 0 0 30%;}

  .fa-map-marker-alt {margin: 2px 2px 0 0;}

  /* Zone de saisie */
  .zone-recherche {width: 80%; margin-bottom: 10px; padding-left: 25px;}

  /* Bouton "Rechercher" */
  .search {display: none;}

  .searchmobile {margin-left: -60px; border-radius: 30%;}

       /*---------------------- Filtres de recherche ----------------------*/

  .listefiltres {height: 550px;}

  .listefiltres {margin-top: 10px;}

  .listefiltres h3 {margin-top: 12px;}

  .btnfiltres {margin: 80px 0 0 -100px;}

  .div-filtre {margin: 20px 0;}

  .iconefiltre {
    width: 120px;
    height: 120px;
    font-size: 0.8em;
    margin: 0 -100px -50px 0;
    border-radius: 100px;
  }

  .filtre {height: 120px; margin-right: 50px; padding-right: 50px;}

  .fa-money-bill-wave {padding: 39px 31px;}

  .filtre-eco {width: 400px;}

  .fa-child {padding: 39px 41px;}

  .filtre-familial {width: 320px;}

  .fa-heart {padding: 38px 39px;}

  .filtre-romantique {width: 395px;}

  .fa-dog {padding: 36px 34px;}

  .filtre-animaux {width: 515px;}

       /*------------ Ligne informative : nombre hébergements dispo -----------*/

  .info {margin-top: 60px;}

  .point-info {margin-top: 25px;}

  .icone-info {width: 50px; height: 50px;}

  .fa-info {padding: 12px 0 0 20px;}

  .point-info p {padding: 5px 0 5px 70px;}

/*____________________________________ Main ____________________________________*/

  .hélément-flexible, .pélément-flexible, .aelement {
    box-shadow: 3px 2px 30px #bdbdbd;
  }

  .hélément-flexible, .aelement, .afigure {border-radius: 40px;}

  .imghebergement, .imgactivites {border-radius: 35px 35px 0 0;}

    /*------------------- Grand conteneur des héébergements -------------------*/

  #hebergements {margin: 50px 0 37px 0; font-size: 0.9em;}

  .hebliste, .populiste {font-size: 1.4em; padding: 40px 50px;}

  .hconteneur-flexible, .imghebpopulaire {height: 100%;}

  .note {margin-bottom: -1%;}

       /*--------------------- Liste des hébergements ---------------------*/

  .hebliste {
    order: 2;
    background-color: #fff;
  }

  .hebliste h2 {padding-top: 47px;}

  .grilleheb {height: auto; margin-top: 60px;}

  .hélément-flexible {margin-bottom: 7%;}

  .hfigure {width: 97%; margin: 1.5%; padding-bottom: -1%;}

  .imghebergement {height: 300px; border-radius: 35px 35px 0 0;}

  .hfigcaption, #more {margin-left: 5%;}

  .hfigcaption {margin-bottom: 3%;}

  .hfigcaption h4 {margin: 2% 0 1% 0; font-size: 1.2em;}

  .hfigcaption p {margin: 0 2% 1% 0;}

  #more {margin: 3% 0 3% 0;}

       /*--------------------- Héébergements populaires --------------------*/

  .populiste {order: 1;}

  .en-tete-populaire {padding-bottom: 10px;}

  .fa-chart-line {margin-top: 55px; justify-content: flex-end;}

  .grillepopulaire {margin-top: 2px;}

  .pconteneur-flexible {margin-bottom: 20px;}

  .pélément-flexible {margin-bottom: 7%; border-radius: 35px; padding: 1.5%;}

  .pfigure {margin: 0;}

  .pfigure, .pfigcaption {height: 100%;}

  .imghebpopulaire {max-width: 35%; border-radius: 30px 0 0 30px;}

  .pfigcaption {
    margin: -3% 30px 3% 30px;

    /* mise en flux normal pour travailler .notehebpopulaire tout en bas de ces figcaption */
    position: relative;
  }

  .pfigcaption h4 {margin-bottom: 5%; font-size: 1.2em;}

  .pfigcaption p {margin: 0 5% 2% 0;}

  .notehebpopulaire {
    margin-left: -1%;
    bottom: 0; /* positionnement de l'élément tout en bas de .pfigure */
  }

  /*------------------------------- Activités ------------------------------*/

  #activites {
    height: auto;
    margin: 80px 5% 37px 5%;
  }

  .activitesliste {width: 100%; font-size: 1.1em;}

  .aconteneur {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .aelement {
    width: 100%;
    height: auto;
    padding-bottom: 2%;
    margin-bottom: 7%;
    border-radius: 40px;
  }

 .afigure {
   height: auto;
   margin: 0;
 }

 .hfigcaption {margin-left: 5%;}

 .imgactivites {height: 350px;}

.afigcaption {margin: 50px 50px 40px 50px;}

.afigcaption h4 {margin: 0; font-size: 1.1em;}

/*___________________________________ Footer ___________________________________*/

  footer {margin-top: 61px;}

  .partiesfooter {margin-left: 70px;}

  .liensfooter {margin: 25px 0 0 -30px;}

  .liensfooter li {margin-top: 18px;}
}
