/*____________________________________ Body ____________________________________*/

@@font-face {
  font-family: 'Raleway';
  src: url('font/Raleway.eot');
  src: url('font/Raleway.eot?iefix') format('embedded-opentyper'),
       url('font/Raleway.woff') format('woff'),
       url('font/Raleway.woff2') format('woff2'),
       url('font/Raleway.ttf') format('ttf'),
       url('font/Raleway.svg#Raleway') format('svg');
}

body {margin: 53px; font-family: Raleway;}
